body {

    margin-top: 50px;
    background: #f8f8f8
}

 /* Estilos de Flexbox */
 .container-fluid {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    flex: 0 0 200px;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.row.flex-lg-nowrap {
    flex-wrap: nowrap;
}

.flex-column {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }